<div class="main">
  <p>Здравейте, <%= @speaker.name %>,</p>
  <p>Забелязахме, че сте се регистрирали като лектор в "Бъдещето е код" преди около <%= time_ago_in_words(@speaker.confirmed_at) %>, но все още не сте създали нито едно събитие.</p>
  <p>В момента има <%= link_to pluralize(@potential_schools.size, 'непосетено училище', 'непосетени училища'), participating_schools_url %>. От там са изявили желание да бъдат посетени в рамките на инициативата, но все още нито един лектор не го е направил.</p>
  <p>Все още има време до края на кампанията "Бъдещето е код" и би било чудесно, ако успеете да направите поне едно посещение. За момента имаме общо <%= link_to pluralize(@events.size, 'регистрирано събитие', 'регистрирани събития'), events_url %> и колкото повече, толкова по-добре.</p>
  <p><%= link_to 'Вижте списъка с училища →', participating_schools_url, class: 'btn' %></p>
  <p>Ако имате въпроси, можете да се <%= link_to 'свържете с екипа ни', contacts_url %>, или просто да отговорите на този имейл.</p>
  <%= render 'signature' %>
</div>
