<div class="main">
  <p>Здравейте, <%= @speaker.name %>,</p>
  <p>Събитието ви <strong><%= @event.name_or_default %></strong> е върнато за преглед от представители на <%= @school.name %>. То все още очаква одобрение и дотогава няма да е видимо в <%= link_to 'публичния списък със събития', events_url %>.</p>
  <p><%= link_to 'Вижте събитието →', event_url(@event), class: 'btn' %></p>
  <p>При нужда, може да се свържете с <%= link_to 'лицето за контакт в учебното заведение', participating_school_path(@school) %>, за да изчистите проблемите със събитието ви.</p>
  <p>Ако имате въпроси за инициативата, можете да се <%= link_to 'свържете с екипа ни', contacts_url %>, или да отговорите на този имейл.</p>
  <%= render 'signature' %>
</div>
