<div class="main">
  <p>Здравейте, <%= @school.contact_name %>,</p>
  <p>Във вашето учебно заведение – <%= @school.name %> – е създадено ново събитие, което очаква вашия преглед и одобрение.</p>
  <p>Събитието е с дата <%= l @event.date, format: '%d %B %Y г.' %> и е създадено от <%= mail_to @speaker.email, @speaker.name %>.</p>
  <p>За да одобрите събитието, отворете линка по-долу и влезте в профила си на учебно заведение.</p>
  <p><%= link_to 'Прегледайте събитието →', event_url(@event), class: 'btn' %></p>
  <p>За да се появи в публичния списък със събития, е необходимо то да бъде потвърдено от вас.</p>
  <p>Получавате този имейл, тъй като сте лице за контакт за <strong><%= @school.name %></strong>, което е регистрирано за участие в инициативата <%= link_to 'Бъдещето е код', root_url %>.</p>
  <p>Ако имате въпроси за инициативата, можете да се <%= link_to 'свържете с екипа ни', contacts_url %>, или да отговорите на този имейл.</p>
  <%= render 'signature' %>
</div>
