<div class="main">
  <p>Здравейте, <%= @school.contact_name %>,</p>
  <p>Изпращаме ви това писмо, тъй като сте лице за контакт за <strong><%= @school.name %></strong> и вашето учебно заведение е участвало в предишни издания на инициативата <%= link_to 'Бъдещето е код', root_url %>.</p>
  <p>Организира се нова кампания за "Бъдещето е код", която ще се проведе в периода <strong><%= @current_period %></strong> Организатори отново са <a href="http://digitalalliance.bg">Дигиталната национална коалиция</a> и екип от доброволци, със съдействието на Министерството на образованието и науката и РИО. От МОН подготвят официална покана към учебните заведения.</p>
  <p>Ще се радваме да се включите и в това издание, което е по-мащабно и за което са мобилизирани повече лектори от IT-сектора.</p>
  <p>За да могат лекторите да изберат вашето училище, е добре да обновите поне информацията за това в кои дати и коя смяна бихте могли да допуснете посещение.</p>
  <p>За да обновите профила си, използвайте следните данни:</p>
  <ul>
    <li>Потребител: <strong><%= @school.email %></strong></li>
    <% if @new_password.present? %>
      <li>Парола: <strong><%= @new_password %></strong></li>
    <% end %>
    <li>Адрес: <%= link_to new_school_session_url, new_school_session_url %></li>
  </ul>
  <% unless @new_password %>
    <p>Ако не помните паролата си за достъп, можете да използвате функцията <%= link_to '"Забравена парола"', new_school_password_url %>.</p>
  <% end %>
  <p><%= link_to 'Обновете профила си →', new_school_session_url, class: 'btn' %></p>
  <p>Ако нямате възможност да се включите в това издание, можете да отбележите това в профила си след вход. Алтернативно, може да отговорите на този имейл и ние ще направим корекцията за вас.</p>
  <p>Ако имате каквито и да е въпроси, може да отговорите на този имейл, или да се свържете директно с <%= link_to 'човек от екипа ни', contacts_url %>.</p>
  <p>
    Сърдечни поздрави,<br>
    Екипът на Бъдещето е код
  </p>
</div>
