<h1>Учебни заведения</h1>

<p>Списък на учебните заведения, които са изявили желание да се включат в Бъдещето е код.</p>

<% @schools.group_by(&:town).each do |town, schools| %>
  <h2><%= town.full_name %></h2>
  <% schools.each do |school| %>
    <div class="school">
      <h3>
        <%= school.name %>
        <%= link_to 'Подробности →', participating_school_path(school), class: 'btn' %>
      </h3>
      <p class="address">Адрес: <%= school.address %></p>
      <% if speaker_signed_in? %>
        <p class="contact">Лице за контакт: <%= school.contact_name %>, <%= school.phone %>, <%= mail_to school.email %></p>
      <% end %>
    </div>
  <% end %>
<% end %>
