<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <!-- Use title if it's in the page YAML frontmatter -->
        <title>
            <% if current_article %>
                <%= current_article.title %> – Бъдещето е код
            <% else %>
                <%= current_page.data.title || 'Бъдещето е код' %>
            <% end %>
        </title>
        <%= feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: 'Atom Feed' %>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <% if current_article %>
            <meta property="og:type" content="article" />
            <meta property="og:title" content="<%= h current_article.title %> – Бъдещето е код" />
            <% if current_article.data.image %>
                <meta property="og:image" content="<%= h current_article.data.image %>" />
            <% end %>
            <% if current_article.data.description %>
                <meta property="og:description" content="<%= h current_article.data.description %>" />
            <% end %>
        <% end %>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/application.css">
        <script src="js/vendor/modernizr-2.6.1.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <%= yield %>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')</script>
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-55595857-1', 'auto');
          ga('send', 'pageview');
        </script>
    </body>
</html>
