<h1>Промяна на събитие</h1>

<%= render 'instructions' %>

<%= simple_form_for @event do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= render 'event_fields', form: f %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    или <%= link_to 'отказ и обратно към събитието', event_path(@event) %>
  </div>
<% end %>
