<h1>
  Събития
  <%= link_to 'вижте карта', map_events_path, class: 'btn light' %>
</h1>

<% if @own_events && @own_events.any? %>
  <div class="events">
    <h2>Моите събития</h2>
    <ul>
      <% @own_events.each do |event| %>
        <li>
          <%= link_to event do %>
            <%= event.full_name_with_date %>
            <% unless event.approved? %>
              <span class="label warning">чака потвърждение</span>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @events.any? %>
  <div class="events">
    <% @events.group_by { |event| l event.date, format: '%B, %Y' }.each do |month, events| %>
      <h2><%= month %></h2>
      <ul>
        <% events.each do |event| %>
          <li>
            <%= link_to event.full_name_with_date, event %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% else %>
  <p>Все още няма регистрирани събития.</p>
<% end %>
