<% content_for :top_section do %>
  <div class="event-header" style="background-image: url(<%= @event.cover_image.url(:large) if @event.cover_image? %>);">
    <div class="content-wrapper">
      <div class="content">
        <h1><%= @event.name_or_default %></h1>
        <div class="school"><%= link_to @event.school.name, participating_school_path(@event.school) %></div>
        <div class="town"><%= l @event.date, format: '%d %B' %>, <%= @event.school.town.name_with_kind %></div>
        <% if @event.speaker.company_or_other.present? %>
          <div class="organizer">
            Организирано от <%= link_to_company @event.speaker.company_or_other %>
          </div>
        <% end %>
        <p><%= link_to 'Всички събития', events_path %></p>
      </div>
    </div>
  </div>
<% end %>

<div class="event">
  <% if school_signed_in? && current_school == @event.school %>
    <% if @event.approved? %>
      <p class="separated">
        Това събитие е <span class="label success">потвърдено</span> от вас.
        При нужда, може да го
        <%= link_to 'върнете в очакващо потвърждение', unapprove_event_path(@event), method: :post %>.
      </p>
    <% else %>
      <p class="separated">
        Това събитие <span class="label warning">очаква потвърждение</span> от вас.
        <%= link_to 'Потвърдете събитието', approve_event_path(@event), method: :post, class: 'btn' %>
      </p>
    <% end %>
  <% elsif !@event.approved? %>
    <p class="separated">
      <span class="label warning">очаква потвърждение от учебното заведение</span>
    </p>
  <% end %>

  <ul class="details inline">
    <li>
      <label>Дата:</label>
      <span class="value"><%= l @event.date, format: '%d %B %Y г.' %></span>
    </li>
    <li>
      <label>Лектор:</label>
      <span class="value"><%= @event.speaker.name %></span>
    </li>
    <% if @event.public_email.present? %>
      <li>
        <label>Имейл за връзка:</label>
        <span class="value"><%= mail_to @event.public_email %></span>
      </li>
    <% end %>
    <% if @event.url.present? %>
      <li>
        <label>Сайт:</label>
        <span class="value"><%= link_to truncate(@event.url, length: 50), @event.url, target: '_blank', rel: 'nofollow' %></span>
      </li>
    <% end %>
    <li>
      <label>Учебно заведение:</label>
      <span class="value"><%= link_to @event.school.name, participating_school_path(@event.school) %></span>
    </li>
    <li>
      <label>Адрес:</label>
      <span class="value"><%= @event.school.full_address %></span>
    </li>
  </ul>

  <%= link_to_map_with_preview_for @event.school %>

  <h2>Описание</h2>

  <div class="details">
    <%= markup @event.details %>
  </div>

  <% if speaker_signed_in? && current_speaker == @event.speaker %>
    <h2>Инструменти</h2>
    <p><%= link_to 'Редактирай събитието', edit_event_path(@event), class: 'btn' %></p>
  <% end %>
</div>
