<p>Формуляр, попълван от лектор, желаещ да се включи в <%= link_to 'Бъдещето е код', root_path %>.</p>

<% if speaker_signed_in? %>
  <p>
    <%= link_to 'Вижте списък с регистрираните учебни заведения →', participating_schools_path, class: 'btn' %>
  </p>
<% else %>
  <p>Ако вече имате регистрация, <%= link_to 'влезте от тук', new_speaker_session_path %>.</p>
<% end %>

<p>Процедурата за участие е следната:</p>

<ol>
  <li>Попълвате този регистрационен формуляр и влизате в системата.</li>
  <li>Избирате си <%= link_to 'учебно заведение', participating_schools_path %>.</li>
  <li>Уговаряте посещение с лицето за контакт на учебното заведение.</li>
  <li><%= link_to 'Създавате събитие', new_event_path %> в сайта за посещението си.</li>
  <li>Отивате на място в деня на събитието и провеждате часовете си.</li>
</ol>

<p>След регистрация и вход в системата, ще видите списък на всички регистрирани учебни заведения и ще имате възможност да си изберете такова за посещение. Самото посещение го уговаряте вие, като се свържете директно с лицето за контакт, посочено в данните на учебното заведение. Ако имате нужда от съдействие за връзка с учебното заведение, може да <%= link_to 'ни пишете', contacts_path %>.</p>

<p>Силно желателно е след като имате уговорено посещение, да създадете събитие в този сайт, съдържащо информация за това в кое училище и на коя дата ще се проведе, както и допълнителна информация, ако има такава. Събитието има популяризационна и информационна цел. От училището могат да го използват, за да информират учениците.</p>

<p>При въпроси или проблеми, може да се <%= link_to 'свържете с екипа ни', contacts_path %>.</p>
