<h1>Регистрация на лектор</h1>

<%= render 'instructions' %>

<%= simple_form_for resource, url: registration_path(resource_name) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h2>Данни за вход в системата</h2>
    <%= f.input :email, required: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>

    <h2>Данни за контакт с вас</h2>
    <%= render 'contact_fields', form: f %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= render 'devise/shared/links' %>
