<% content_for :top_section do %>
  <div class="new-speaker speaker-background-section">
    <div class="content-wrapper">
      <div class="content">
        <h1>Регистрация на лектор</h1>
        <p>Инвестирайте един ден от времето си, за да посетите българско училище и да разпалите интереса на учениците към програмирането и технологиите.</p>
        <p>Вие избирате за какво да говорите, как да го оформите и в кое учебно заведение. Ние осигуряваме възможността официално да влезете в учебен час.</p>
        <p class="actions"><%= scroll_to 'Към регистрационния формуляр', 'new_speaker', class: 'btn light' %></p>
      </div>
    </div>
  </div>
<% end %>

<%= render 'instructions' %>

<%= simple_form_for resource, url: registration_path(resource_name) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h2>Данни за вход в системата</h2>
    <%= f.input :email, required: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>

    <h2>Данни за контакт с вас</h2>
    <%= render 'contact_fields', form: f %>
  </div>

  <%= render 'layouts/captcha', model: f.object %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= render 'devise/shared/links' %>
