<h1>Профил на <%= current_school.name %></h1>

<%= render 'instructions' %>

<%= simple_form_for resource, url: registration_path(resource_name), html: {method: :put} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h2>Информация за учебното заведение</h2>
    <%= render 'school_fields', form: f %>

    <h2>Лице за контакт</h2>
    <%= render 'contact_fields', form: f %>

    <h2>Данни за вход в системата</h2>
    <%= f.input :email %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Изпратен е имейл за потвърждение до <strong><%= resource.unconfirmed_email %></strong>. Този имейл все още не е потвърден.</p>
    <% end %>

    <%= f.input :password, label: t('attributes.new_password'), hint: t('hints.leave_blank_unless_changing_password'), required: false %>
    <%= f.input :password_confirmation, label: t('attributes.new_password_confirmation'), hint: t('hints.leave_blank_unless_changing_password'), required: false %>

    <h2>Информация за посещенията</h2>
    <%= render 'participation_fields', form: f %>

    <h2>Потвърждение на промените</h2>
    <%= f.input :current_password, hint: t('hints.current_password_required'), required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to 'Към началната страница', root_path %>
