<% if current_school.pending_events.any? %>
  <h2>Събития, които <span class="label warning">очакват потвърждение</span></h2>
  <p>Прегледайте и потвърдете следните събития, създадени от лектори във вашето учебно заведение:</p>
  <ul>
    <% current_school.pending_events.newest_first.each do |event| %>
      <li>
        <%= link_to event do %>
          <%= event.full_name_with_date %>
        <% end %>
      </li>
    <% end %>
  </ul>
  <p class="separated">Само потвърдените събития се виждат в публичния списък със събития. Ако има проблем с дадено събитие, ще можете да се свържете с лектора, за да отстраните неточностите.</p>
<% end %>

<h1>Профил на <%= current_school.name %></h1>

<% if current_school.confirmed_participation? %>
  <p class="separated">
    <%= link_to 'Вижте публичния профил на вашето учебно заведение →', participating_school_path(current_school) %>
  </p>
<% end %>

<%= render 'instructions' %>

<%= simple_form_for resource, url: registration_path(resource_name), html: {method: :put} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h2>Информация за учебното заведение</h2>
    <%= render 'school_fields', form: f %>

    <h2>Лице за контакт</h2>
    <%= render 'contact_fields', form: f %>

    <h2>Данни за вход в системата</h2>
    <%= f.input :email %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Изпратен е имейл за потвърждение до <strong><%= resource.unconfirmed_email %></strong>. Този имейл все още не е потвърден.</p>
    <% end %>

    <%= f.input :password, label: t('attributes.new_password'), hint: t('hints.leave_blank_unless_changing_password'), required: false %>
    <%= f.input :password_confirmation, label: t('attributes.new_password_confirmation'), hint: t('hints.leave_blank_unless_changing_password'), required: false %>

    <h2>Информация за посещенията</h2>
    <%= render 'participation_fields', form: f %>

    <h2>Потвърждение на промените</h2>
    <%= f.input :current_password, hint: t('hints.current_password_required'), required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= link_to 'Към началната страница', root_path %>
