<h1>Регистрация на учебно заведение</h1>

<p>Формуляр, попълван от учебно заведение, изявяващо желание да се включи в <%= link_to 'Бъдещето е код', root_path %>.</p>

<p>Попълнените от вас данни ще бъдат видими за лекторските екипи, които ще изберат училище и ден за посещение и ще се свържат с лицето за контакт, посочено от вас, за да потвърдят посещението и да уточнят подробностите. С регистрацията тук вие потвърждавате желанието си да бъдете посетени от лектор или екип от лектори, да ги допуснете в редовен час на една или повече паралелки и да укажете в кои дни бихте могли да направите това.</p>

<p>За целта е необходимо да оставите данни на лице за контакт, с което лекторът да се свърже и да се уговори посещението.</p>

<p>Поради факта, че лекторският ресурс е ограничен, не можем да гарантираме, че ще бъдете посетени от лектор, дори и да сте попълнили формулята.</p>

<p>При въпроси или проблеми, може да се <%= link_to 'свържете с екипа ни', contacts_path %>.</p>

<%= simple_form_for resource, url: registration_path(resource_name) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h2 class="light">Информация за учебното заведение</h2>
    <%= f.input :name %>
    <%= f.association :town, collection: Town.order('name ASC').includes(municipality: :state), label_method: :full_name %>
    <%= f.input :address %>

    <h2 class="light">Лице за контакт</h2>
    <%= f.input :contact_name %>
    <%= f.input :phone %>

    <h2 class="light">Данни за вход в системата</h2>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= render 'schools/shared/links' %>
