<h1>Регистрация на учебно заведение</h1>

<%= render 'instructions' %>

<%= simple_form_for resource, url: registration_path(resource_name) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h2>Информация за учебното заведение</h2>
    <%= render 'school_fields', form: f %>

    <h2>Лице за контакт</h2>
    <%= render 'contact_fields', form: f %>

    <h2>Данни за вход в системата</h2>
    <%= f.input :email, required: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>

    <h2>Информация за посещенията</h2>
    <%= render 'participation_fields', form: f %>
  </div>

  <%= render 'layouts/captcha', model: f.object %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= render 'devise/shared/links' %>
