<h1>Регистрация на учебно заведение</h1>

<%= render 'instructions' %>

<%= simple_form_for resource, url: registration_path(resource_name) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h2>Информация за учебното заведение</h2>
    <%= f.input :name %>
    <%= f.association :town, collection: Town.order('name ASC').includes(municipality: :state), label_method: :full_name %>
    <%= f.input :address %>

    <h2>Лице за контакт</h2>
    <%= f.input :contact_name %>
    <%= f.input :phone %>

    <h2>Данни за вход в системата</h2>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>

    <h2>Информация за посещенията</h2>
    <%= f.input :confirmed_participation %>
    <%= f.input :visit_dates, as: :text %>
    <%= f.input :disciplines, as: :check_boxes, collection: hash_to_collection_options(Options.for('disciplines')) %>
    <%= f.input :available_equipment, as: :check_boxes, collection: hash_to_collection_options(Options.for('available_equipment')) %>
    <%= f.input :meetup_options, as: :radio_buttons, collection: hash_to_collection_options(Options.for('meetup_options')) %>
    <%= f.input :remarks, as: :text %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<%= render 'schools/shared/links' %>
