---
pageable: true
per_page: 12
---
<h1>Истории с ключовите думи '<%= tagname %>'</h1>

<%= partial 'stories/_top_pagination' %>

<ul>
  <% page_articles.each_with_index do |article, i| %>
    <li><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></li>
  <% end %>
</ul>

<%= partial 'stories/_bottom_pagination' %>
