<p>След като сте се запознали с изложението в тази страница, попълнете един от двата формуляра по-долу. При въпроси, <%= link_to 'пишете ни', contacts_path %>.</p>

<div id="school">
  <h3>Училище или друго учебно заведение</h3>

  <p>От вас се очаква да изявите желание да бъдете посетени от лектор или екип от лектори, да ги допуснете в редовен час на една или повече паралелки и да укажете в кои дни бихте могли да направите това. Подробности ще намерите в регистрационния формуляр.</p>

  <p>Обикновено едно училище ще бъде посетено максимум от един екип лектори, поради ограничения ресурс на лекторите. Един екип лектори може да води само един учебен час в даден момент от времето.</p>

  <p><%= link_to 'Регистрационен формуляр за училище →', new_school_registration_path, class: 'btn' %></p>
</div>

<div id="coach">
  <h3 id="speaker">Лектор</h3>

  <p>От вас се очаква да изберете учебно заведение и ден, в който да се придвижите до там и да забавлявате учениците в няколко поредни учебни часа. Вижте <%= scroll_to 'секцията за логистика', 'logistics' %> за повече подробности.</p>

  <p>Обикновено едно училище е достатъчно да се посети от един екип лектори. В един екип може да има един или повече лектори. Ако сте част от по-голяма фирма, бихте могли да се включите с повече от един екип, по възможност в различни училища в страната. Попълнете регистрационния формуляр по веднъж за всеки екип лектори.</p>

  <p>Ще можете да изберете учебно заведение, след като се регистрирате и влезете в системата. Там ще видите списък с всички училища, изявили желание да участват, както и лице за контакт за всяко училище.</p>

  <p>Следващата стъпка е да се <strong>свържете с лицето за контакт</strong>, посочено за избраното училище, да потвърдете, че ще го посетите, уточнете в кой ден и други подробности и след това да създадете събитие в този сайт, регистриращо посещението в избраното училище.</p>

  <p><%= link_to 'Регистрирайте се като лектор', new_speaker_registration_path, class: 'btn' %></p>

  <p>Ако желаете да посетите училище, което все още не е изявило желание да се включи в тази инициатива, вижте обяснението в <%= scroll_to 'секция логистика', 'logistics' %>.</p>
</div>
