<p>Организацията на цялото събитие ще се координира с помощта на <%= link_to 'нашия екип', contacts_path %> и с помощта на представители на училищата, като ние ще съдействаме за съставяне на разпределение на лекторите в турнето в различни училища и градове. Съгласието на фирмата и лекторите да посетят даденото населено място ще се взима предвид. От страна на участващите фирми е достатъчно на желаещите да се включат техни служители да се уреди транспортът им и времето им да бъде отчетено като командировъчен ден.</p>

<ol>
  <li>Учебните заведения от страната <%= scroll_to 'попълват формуляр', 'school' %>, в който изявяват желание да се включат, оставят координати на лице за контакт и подробности относно възможностите си за посещения.</li>
  <li>Желаещите да се включат като лектори, също <%= scroll_to 'се регистрират в платформата', 'coach' %>, за да могат да получат достъп до списъка с регистрирани учебни заведения.</li>
</ol>

<p>Ако желаете да посетите училище, което не е попълнило формуляра за връзка, имате две опции:</p>
<ol>
  <li>Да се опитате да намерите контакти на училището и да поискате съгласие от тях директно. Може да използвате информацията в този сайт, както и да реферирате към нашия екип за допълнителна информация.</li>
  <li>Да ни пишете с молба за съдействие, която ние ще предадем на съответните РИО и ще разчитаме на помощ от тях.</li>
</ol>

<p>При осъществяване на връзка с училище, <%= link_to 'създайте събитие в сайта', new_event_path %>, документиращо предстоящото ви посещение.</p>

<p>Всяко училище може да бъде посетено от един или повече екипа от лектори. Всеки екип може да се състои от един или повече лектори. Един екип лектори може да води само един учебен час в даден момент от времето.</p>

<p>За въпроси и проблеми с логистиката, може да се <%= link_to 'свържете с нас', contacts_path %>.</p>
