<h1 id="top">Често задавани въпроси</h1>

<ul class="contents">
  <% @questions.each do |id, title| %>
    <li><%= scroll_to title, id.to_s.dasherize %></li>
  <% end %>
</ul>

<p>Ако не намерите отговори на въпросите, които търсите, не се колебайте да се <%= link_to 'свържете с нашия екип', contacts_path %>.</p>

<% @questions.each do |id, title| %>
  <h2 id="<%= id.to_s.dasherize %>" class="faq">
    <%= title %>
    <small><%= scroll_to 'към съдържанието', 'top' %></small>
  </h2>

  <%= render partial: id.to_s %>
<% end %>
