---
title: Бъдещето е код - Europe Code Week
---

<div class="hero">
  <header>
    <img src="img/codeweekeu-icon.png" alt="Code Week" class="icon">
    <h1>Бъдещето е код</h1>
    <p>
      Турне на работещи в IT-сферата из училища в страната<br>
      Инициативата е част от
      <% link_to 'http://codeweek.eu' do %>
        <img src="img/codeweekeu-icon.png" alt="Code Week" class="small-icon">
        Europe Code Week
      <% end %>
    </p>
    <p class="join-as">Включете се като</p>
    <p>
      <%= scroll_to 'Училище', 'school', class: 'btn' %>
      <%= scroll_to 'Лектор', 'coach', class: 'btn' %>
    </p>
  </header>
</div>

<div class="content-wrapper">
  <article>
    <h2 id="intro">Увод</h2>

    <p><strong>“Бъдещето е код” е турне на работещи в IT-сферата из училища в страната, което ще се проведе в седмицата 13-17 октомври 2014 г., с цел мотивация и разпалване интереса на учениците в сферата на програмирането, дизайна и технологиите.</strong></p>

    <p>Инициативата се планира тази година пилотно по време на <%= link_to 'Europe Code Week', 'http://codeweek.eu/' %>, под шапката на Дигиталната национална коалиция (ДНК) и съвместно с Министерството на образованието (МОН).</p>

    <p>Лектори, работещи в IT-сферата, посещават в рамките на един ден някое училище в страната, избрано по взаимно съгласие между лектора и/или неговата фирма и образователната институция.</p>

    <p>За постигане на целта, лекторите, участващи в инициативата, правят на място две неща:</p>
    <ol>
      <li>Заемат мястото на учителя в час по информатика, информационни технологии или друго, на деца 5-12 клас, като вместо стандартната учебна програма за дадения час, разказват как са се запалили по технологиите, какъв е бил техния първи сблъсък с програмирането, забавни истории от работата им, колко ценно умение е това да програмираш и да си на “ти” с технологиите и прочее. Отново, това се прави с мотивационна цел, за да разпали интереса към програмирането и технологиите. За какво точно да се говори е в ръцете на лектора. За подробности, вижте секцията <%= scroll_to 'Съдържание на презентациите', 'content' %>.</li>
      <li>Опционално организират неформална сбирка-беседа в извънучебно време (след часовете), в зала, предоставена от учебното заведение, със заинтересованите деца и евентуално преподаватели по информатика. Целта на сбирката е учениците да се насочат към онлайн ресурси и начини как да започнат своето развитие в сферата. Въпросните сбирки могат да послужат и като начален тласък да се организира местен кръжок, обединяващ тези, които имат интерес към програмиране и технологии. Вижте повече в секцията <%= scroll_to 'Сбирки', 'meetups' %>.</li>
    </ol>
    <p>Със съдействието на членовете на ДНК и работещите в IT-сферата, от една страна, и на МОН, РИО и учебните заведения от друга, искаме да се опитаме да достигнем до максимален брой ученици от цялата страна.</p>

    <h3 id="motivation">Мотивация</h3>

    <p>Известа е острата липса на достатъчен брой мотивирани и добре подготвени преподаватели в училищата извън столицата и по-големите градове, особено в сферата на съвременните ИТ-технологии.</p>
    <p>Сред повечето хора се наблюдават погрешни предразсъдъци към програмирането и технологиите — че това е скучна работа, че това е сложна дейност, която може да се извършва само от по-особени хора, с някакви специални умения и прочее. Нито едно от тези неща не е вярно и една основна задача на тази инициатива е да разклати основите на тези предразсъдъци, като представи на учениците една нова гледна точка, от първа ръка, към IT-сферата и работата там. Програмирането е мощен инструмент и ще става все по-необходимо умение занапред. Това е посланието, което турнето ще носи.</p>
    <p>С това турне се цели да се направи връзка между бизнеса и потенциалните бъдещи кадри, като се разпали отрано огънят в главите на младежите, като им се даде цел, която да преследват, като се мотивират да го направят и като им се предоставят инструменти за целта.</p>

    <p>След това пилотно издание и с помощта на опита и контактите, които ще осъществим по време на турнето, при интерес от двете страни, вероятно ще повторим инициативата отново, в по-голям мащаб.</p>

    <h2>План</h2>

    <h3 id="mechanism">1. Механизъм</h3>

    <p><strong>Фирмите, изявили интерес да участват</strong>, изпращат за един ден свои запалени за идеята служители, като поемат транспортните и командировъчните им разходи, в училище в страната, където в час по информатика, информационни технологии или друга дисциплина, вместо обикновената програма, те разказват на децата защо им харесва да правят това, което правят, как са започнали, разказват забавни истории, свързани с работата им и прочее. При желание и възможност от страна на лекторите и училището, след учебните часове може да се организира неформална среща, в зала, предоставена от учебното заведение, където заинтересовани деца ще могат да получат повече напътствия къде и какво да четат и как да направят първи стъпки, ако им е интересно. Вероятно е и да има обмяна на опит между преподавателите по информатика и лекторите.</p>

    <p><strong>В целевата група попадат всякакви училища</strong>, не само математически и профилирани гимназии. Причината това да е така е, че на тази възраст никой все още не е избрал своето призвание и всяка възможност за избор, която им се предостави, се превръща и във възможност за развитие на техния интерес впоследствие. Затова и езикови и хуманитарни гимназии също могат и даже е желателно да участват в турнето.</p>

    <h3 id="logistics">2. Организация и логистика</h3>

    <p>Организацията на цялото събитие ще се координира с помощта на <%= scroll_to 'нашия екип', 'contacts' %> и с помощта на представители на училищата, като ние ще съдействаме за съставяне на разпределение на лекторите в турнето в различни училища и градове. Съгласието на фирмата и лекторите да посетят даденото населено място ще се взима предвид. От страна на участващите фирми ще е достатъчно да се осигурят хора, желаещи да говорят и да се уреди транспорта им. Целта е оптимизация на организацията и свеждане до минимум на предварителното планиране.</p>

    <ol>
      <li>Учебните заведения от страната <%= scroll_to 'попълват формуляр', 'school' %>, в който изявяват желание да се включат и оставят координати и подробности относно възможностите си.</li>
      <li>Работещи в IT-сферата, фирми и лектори, също <%= scroll_to 'попълват формуляр', 'coach' %>, в който указват кое училище ще посетят, от тези, които вече са попълнили формуляра от т. 1.</li>
    </ol>

    <p>Ако желаете да посетите училище, което не е попълнило формуляра за връзка, имате две опции:</p>
    <ol>
      <li>Да се опитате да намерите контакти на училището и да поискате съгласие от тях директно. Може да използвате информацията в този сайт, както и да реферирате към нашия екип за допълнителна информация.</li>
      <li>Да ни пишете с молба за съдействие, която ние ще предадем на съответните РИО и ще разчитаме на помощ от тях.</li>
    </ol>

    <p>При осъществяване на връзка с училище, попълнете формуляра за лектор и укажете кое ще посетите.</p>

    <p>За въпроси и проблеми с логистиката, може да се <%= scroll_to 'свържете с нас', 'contacts' %>.</p>

    <h3 id="content">3. Съдържание на презентациите</h3>

    <p>Ние ще предоставим примерни теми и ресурси, които могат да се изпозлват в часовете, но всеки говорещ ще има свобода да разказва за неговия поглед над технологиите и програмирането по начин, който му е на сърце. Нашите напътствия ще са само инструктивни. Ще предоставим както списък с онлайн материали и ресурси на български, който да може да се дава на децата и на учителите, така и онлайн платформа, където желаещите ще могат да се регистрират и да поставят основите на своя местна учебна група (кръжок).</p>

    <h3 id="meetups">4. Сбирки след часовете</h3>

    <p></p>

    <h3>5. График и времетраене</h3>

    <p>Планът е да направим това в седмицата 11-17 октомври и мащабът зависи от броя компании, които решат да се включат. Вие сте едни от първите, с които се случва да говорим преди да сме разпратили официално запитване до фирми.</p>

    <h2>Как да се включите</h2>

    <div id="school">
      <h3>Училище или друго учебно заведение</h3>
    </div>

    <div id="coach">
      <h3>Лектор</h3>
    </div>
  </article>
</div>

<div class="footer-wrapper">
  <footer>
    <h4 id="contacts">Контакти</h4>

    <p>За връзка с организационния екип, пишете на <%= mail_to 'contact@futureiscode.com' %> или се свържете директно с посланика на Europe Code Week за България – Димитър Димитров – на телефон +359 889 27 23 12.</p>

    <h4>Относно</h4>

    <p>
      Инициатива под шапката на <%= link_to 'Europe Code Week', 'http://codeweek.eu/' %>, организирана от
      <%= link_to 'посланика на Europe Code Week за България', 'http://events.codeweek.eu/ambassadors/#Bulgaria' %>,
      съвместно с
      <%= link_to 'сдружение Дигитална национална коалиция', 'https://www.facebook.com/digitalcoalitionbulgaria' %>,
      <%= link_to 'Министерството на образованието', 'http://www.mon.bg/' %>,
      <%= link_to 'Регионалните инспекторати по образованието', 'http://www.riobg.com/selectrio' %>,
      ръководството и учителите в участващите учебни заведения и множество доброволци.
    </p>

    <p>Този сайт е с <%= link_to 'отворен код', 'https://github.com/mitio/futureiscode' %>.</p>
  </footer>
</div>
