<footer>
  <div class="social-links">
    <div class="content">
      <ul>
        <li>
          <%= link_to ENV['FACEBOOK_PAGE_URL'] do %>
            <i class="fa fa-facebook"></i>
            futureiscode
          <% end %>
        </li>
        <li>
          <%= link_to ENV['TWITTER_URL'] do %>
            <i class="fa fa-twitter"></i>
            @futureiscode
          <% end %>
        </li>
        <li>
          <%= mail_to ENV['CONTACT_EMAIL_ADDRESS'] do %>
            <i class="fa fa-envelope-o"></i>
            <%= ENV['CONTACT_EMAIL_ADDRESS'] %>
          <% end %>
        </li>
        <li>
          <%= link_to contacts_path do %>
            <i class="fa fa-phone"></i>
            контакти
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-details">
    <div class="content">
      <h4>Относно "Бъдещето е код"</h4>

      <p>
        Инициатива, организирана от <%= link_to 'Дигиталната национална коалиция', 'https://digitalalliance.bg' %>
        и <%= link_to 'посланика на Europe Code Week за България', 'https://ddimitrov.name' %>,
        със съдействието на <%= link_to 'Министерството на образованието', 'https://mon.bg' %>,
        <%= link_to 'Регионалните инспекторати по образованието', 'https://www.riobg.com/selectrio' %>,
        ръководството и учителите в участващите учебни заведения и множество доброволци. Научете повече в секцията с <%= link_to 'често задавани въпроси', frequently_asked_questions_path %> или се <%= link_to 'свържете с нас', contacts_path %>.
      </p>

      <h4>За сайта</h4>

      <p>
        Този сайт е с <%= link_to 'отворен код', ENV['SITE_REPO_URL'] %>.
        Използвани са снимки на <%= link_to 'Радослав Георгиев', 'https://github.com/RadoRado', target: '_blank' %>.
        Съдържанието е под лиценз <%= link_to 'CC BY 3.0', 'https://creativecommons.org/licenses/by/3.0/', target: '_blank', rel: 'nofollow' %>.
      </p>
    </div>
  </div>
</footer>
