<header>
  <div class="content">
    <%= link_to root_path, class: 'home-link' do %>
      <%= image_tag 'codeweekeu-icon.png', alt: 'Code Week', class: 'icon' %>
      Бъдещето е код
    <% end %>

    <div class="period"><%= ENV['CURRENT_PERIOD'] %></div>

    <% if school_signed_in? %>
      <div class="member-links">
        Здравейте, <%= link_to current_school.contact_name, edit_school_registration_path, title: 'Редакция на профила ви' %>.
        <%= link_to 'Изход', destroy_school_session_path, method: :delete %>
      </div>
    <% else %>
      <div class="join">
        <%= link_to 'Лектор', root_path(anchor: 'coach'), class: 'btn' %>
        <%= link_to 'Училище', new_school_registration_path, class: 'btn' %>
      </div>
    <% end %>
  </div>
</header>
