<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <%= render 'layouts/head' %>
</head>
<body>
  <div class="page">
    <%= render 'layouts/header' %>
    <%= render 'layouts/alerts' %>
    <%= yield :top_section if content_for?(:top_section) %>

    <div class="content-wrapper">
      <article>
        <%= yield %>
      </article>
    </div>

    <div class="footer-placeholder"></div>
  </div>

  <%= render 'layouts/footer' %>
  <%= render 'layouts/analytics' %>
</body>
</html>
